/* Ajuste de pagina para rodape ficar na parte inferior */
main {
  height: 73vh;
}

app-footer {
  position: relative;
  bottom: 0;
}

/* Formulario all */
.contact {
  margin-top: 2%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.contact__style {
  justify-content: space-around;
  align-items: center;
}

.contact__data h1 {
  font-weight: bold;
  color: black;
  text-shadow: 3px 3px 3px rgba(220, 62, 241, 0.836);
}

/* Preenchimento de form (name, email, motivos, textarea)*/
.contact__input:focus {
  background: rgb(163, 161, 161);
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

/* Preenchimento de form (btn) */
.contact__btn {
  margin-top: 3%;
}

/* Preenchimento de form (img) */
.contact__image img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 10px rgba(221, 62, 241, 0.3);
}
