<!-- Barra de nav -->
<app-navbar></app-navbar>

<!-- Formulario -->
<main>
  <div class="contact container-fluid">
    <div class="contact-style row">
      <section class="contact-data col-lg-4">
        <h1>Fale Conosco</h1>
        <form>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="contact-input form-control" id="name" name="name" placeholder="Digite seu nome completo" [(ngModel)]="dataname">
          </div>
          <div class="form-group">
            <label for="email">Endereço de e-mail</label>
            <input type="email" class="contact-input form-control" id="email" name="email" placeholder="nome@exemplo.com.br">
          </div>
          <div class="form-group">
            <label for="motivo">Motivo do contato</label>
            <select class="contact-input form-control" id="motivo">
              <option>Dúvidas</option>
              <option>Elogios</option>
              <option>Críticas</option>
              <option>Reclamações</option>
              <option>Sugestões</option>
            </select>
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea class="contact-input form-control" id="mensagem" rows="3"
              placeholder="Escreva sua mensagem"></textarea>
          </div>
          <button type="submit" class="btn btn-success" (click)="botao()">Enviar</button>
        </form>
      </section>

      <section class="contact-image col-lg-6">
        <img src="../../assets/contato/Jogos-de-Animes-e-Animes-de-Jogos-20-exemplos-dos-dois-universos-1200x720.jpg"
          alt="animes form">
      </section>
    </div>
  </div>
</main>

<!-- Footer -->
<app-footer></app-footer>
