.details {
  background-color: #56233d63;
  color: black;
  border-radius: 0.5rem;
  margin-top: 2%;
  width: 98%;
}

.details-txt__tilte {
  text-shadow: 1px 1px 1px blanchedalmond;
  font-weight: bold;
  text-decoration: underline;
}

.details-img img {
  margin-top: 1%;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.details-video {
  margin-top: 2%;
  text-align: center;
}

.details-video__title {
  text-align: center;
}

.line {
  height: 20px;
  border: 1px solid rgb(22, 14, 14);
  background-color: #8e249c;
  box-shadow: 2px 2px 20px black;
}
