/* Seção de detalhes */
.details {
  background-color: #56233d2c;
  color: black;
  border-radius: 0.5rem;
  margin-top: 2%;
  width: 99%;
}

/* Imagem do Anime ou Manga */
.details__img img {
  width: 100%;
  border-radius: 1rem;
  margin-top: auto;
  /* altura que está do topo, nesse caso no começo */
  top: 10%;
  /* altura que vai parar antes do topo, mantém a imagem sem cortar */
  position: sticky;
}

/* Texto e info do Anime ou Manga */
.details__txt__title {
  text-shadow: 1px 1px 1px rgb(78, 78, 78);
  font-weight: bold;
  text-decoration: underline;
}

.details__txt__warning {
  background-color: red;
  width: fit-content;
}

.details__txt__type {
  background-color: rgb(129, 124, 117);
  margin-left: 0.5%;
}

.details__txt__source {
  background-color: darkolivegreen;
  margin-left: 0.5%;
}

.details__txt__sinopse {
  /* color: white; */
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
}

.details__txt__background {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
}

.details__txt-info__style {
  font-weight: bold;
  /* color: silver;*/
  text-decoration: underline; 
}

/* Linha separatória */
.line {
  height: 20px;
  border: 1px solid rgb(22, 14, 14);
  background-color: #8e249c;
  box-shadow: 2px 2px 20px black;
}

/* Trailer aparece quando está no anime */
.details__video__style {
  margin-bottom: 1.5%;
}

.details__video__title {
  text-align: center;
  text-shadow: 1px 1px 1px rgb(78, 78, 78);
  font-weight: bold;
  text-decoration: underline;
}

.details__video-txt {
  margin-top: 3%;
}
